h1{
    color: #7459a0f6;
    font-size: 45px;
    font-weight: 700;
}
.violet{
    color:#7459a0f6;
}
.violet-background{
    background-color: #7459a0f6;
    }

.resize{
        height:100%;
    }
h3{
    font-size:20px;
    font-weight: 600;
    text-align: center;
}
p{
    text-align:center;
    font-size: 16px;
    font-weight: 600;
}

